In [2]:
#! pip install prophet

#### import libraries

In [26]:
import pandas as pd
from prophet.plot import plot_plotly, plot_components_plotly
from prophet import Prophet

#desactivate warnings
import warnings
warnings.filterwarnings("ignore")

#### read dataset

In [6]:
!dir

 El volumen de la unidad C no tiene etiqueta.
 El nÂ£mero de serie del volumen es: 8275-508D

 Directorio de C:\Users\ortiz\OneDrive\Documentos\workspace\Time-Series-Forecasting-Prophet

14/02/2023  18:55    <DIR>          .
14/02/2023  18:55    <DIR>          ..
14/02/2023  18:51    <DIR>          .ipynb_checkpoints
14/02/2023  18:55             1.097 Forecasting.ipynb
14/02/2023  18:50            52.865 MaunaLoaDailyTemps.csv
14/02/2023  18:50               116 README.md
               3 archivos         54.078 bytes
               3 dirs  312.284.979.200 bytes libres

In [13]:
# Read data, drop null values and reset index inplace
df = pd.read_csv('MaunaLoaDailyTemps.csv')
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1821 non-null   object
 1   MinTemp  1821 non-null   float64
 2   MaxTemp  1821 non-null   float64
 3   AvgTemp  1821 non-null   float64
 4   Sunrise  1821 non-null   int64
 5   Sunset   1821 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 85.5+ KB

In [10]:
df.head()

       DATE  MinTemp  MaxTemp  AvgTemp  Sunrise  Sunset
0  1/1/2014     33.0     46.0     40.0      657    1756
1  1/2/2014     35.0     50.0     43.0      657    1756
2  1/3/2014     36.0     45.0     41.0      657    1757
3  1/4/2014     32.0     41.0     37.0      658    1757
4  1/5/2014     24.0     38.0     31.0      658    1758

##### only interest on 'AvgTemp' and 'DATE' columns, this are the ones selected for prediction

In [17]:
df = df[['DATE','AvgTemp']]
df.head()

       DATE  AvgTemp
0  1/1/2014     40.0
1  1/2/2014     43.0
2  1/3/2014     41.0
3  1/4/2014     37.0
4  1/5/2014     31.0

### Change columns names for Prophet

In [18]:
# setting default columns for prophet
df.columns = ['ds','y']

In [27]:
#Pass date col to datetime
df.ds = pd.to_datetime(df.ds)
df.tail()

             ds     y
1816 2018-12-26  40.0
1817 2018-12-27  39.0
1818 2018-12-28  40.0
1819 2018-12-29  42.0
1820 2018-12-30  46.0